footer {
  background-color: #2f303a;
}

/*Футер адрес*/
footer > div.container {
  padding-top: 60px;
  padding-bottom: 60px;
}

div.address {
  @media screen and (max-width: 767px) {
    text-align: center;
    margin-bottom: 60px;
  }
}

.address-list {
  margin-top: 20px;
}
.address-list > span {
  color: $background-color;
}

.address-list .link {
  transition: $time-function;
  color: rgba(255, 255, 255, 0.6);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

footer b {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $background-color;

  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
  }
}

.footer-box {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $tablet) {
    margin-left: 69px;
    margin-top: 12px;
  }
}

.footer-box .list {
  margin-top: 20px;
}

footer > div {
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: flex-start;
  }
}

.footer-box .list {
  display: flex;
  justify-content: center;
}

.footer-box .list-item:not(:first-child) {
  margin-left: 10px;
}
.footer-box .link-item {
  transition: $time-function;
  display: block;
  content: '';
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.icon-instagram {
  background-image: url(../images/instagram.svg);
}

.icon-twitter {
  background-image: url(../images/twitter.svg);
}

.icon-facebook {
  background-image: url(../images/facebook.svg);
}

.icon-linkedin {
  background-image: url(../images/linkedin.svg);
}

// footer .display { ?????????????????????
//   @media screen and (min-width: $desktop) {
//     display: flex;
//   }
// }

b + ul {
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.form-subscribe {
  width: 450px;
  height: 50px;
  margin-top: 20px;
  padding: 15px 16px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  @media screen and (min-width: $desktop) {
    width: 358px;
  }
}

.subscribe {
  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 12px;
  }
}

.subscribe .hero-button {
  display: inline-flex;
  align-items: center;
  padding: 10px 28px;
  margin-top: 20px;

  @media screen and (min-width: $desktop) {
    margin-left: 12px;
    margin-top: 42px;
  }
}

.subscribe .hero-button::after {
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;

  background-image: url(../images/telegram.svg);
}
