.site-nav .logo {
  transition: $time-function;
  margin-right: 85px;

  color: #000000;
  font-family: $secondary-text-family, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo:hover {
  color: $accent-color;
}

.container {
  width: 1200px;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*site-nav*/
header {
  border-bottom: 1px solid #ececec;
}

.site-nav {
  display: flex;
  height: 100%;
  align-items: center;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav span,
.logo:focus {
  color: $accent-color;
  transition: $time-function;
}

.site-nav a {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link.current {
  color: $accent-color;
}

.site-nav .link.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  margin-top: 28px;
  background-color: $accent-color;
}

header .link {
  transition: color $time-function;

  &:hover, &:focus {
    color: $accent-color;
  }
}

header > div {
  display: flex;
  align-items: flex-end;
}

.contacts,
.site-nav .list {
  display: flex;
}

.contacts .link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: $primary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts li:first-child {
  margin-right: 30px;
}
.contacts img {
  margin-right: 10px;
}

.contacts.list > li {
  display: flex;
  align-items: center;
}

.contacts.list {
  margin-left: auto;
}

.icon-contacts {
  fill: currentColor;
  margin-right: 10px;
}
