.hero {
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/web-studio/hero.jpg);
}

.hero-list {
  padding: 200px 0px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: $background-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  display: inline-block;
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  transition: $time-function;

  background-color: $accent-color;
  color: $background-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}
