.list-button {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
    justify-content: center;
  }
}

.list-button button {
  transition: $time-function;
  display: inline-block;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;

  background-color: #f5f4fa;
  color: $title-text-color;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $background-color;
  }
}

.list-button .item + .item {
  margin-left: 8px;
}

.list-button .item + .item:nth-child(4n) {
  @media screen and (max-width: 767px) {
    margin-left: 0px;
  }
}

.list-button .item + .item:nth-last-child(-n + 2) {
  @media screen and (max-width: 767px) {
    margin-top: 15px;
  }
}
