html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  background-color: $background-color;
  color: $primary-text-color;
  font-family: $primary-text-family, serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

body.modal-open {
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.padding {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
