$primary-text-color: #757575;
$title-text-color: #212121;
$background-color: #ffffff;
$accent-color: #2196f3;

$primary-text-family: Roboto;
$secondary-text-family: Raleway;

$time-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
